body {
  font-family: "Raleway", "Open Sans", serif !important;
  padding-top: 70px;
  font-size: 16px;
  color: #464646;
  margin: 0;
  letter-spacing: .01em;
  background: #fff;
  position: relative;
  width: 100% !important; }
  body:after {
    content: "";
    background-image: url("/Content/Images/Background Vector.svg");
    opacity: 0.06;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }

.navbar-default {
  background-color: rgba(63, 169, 245, 0.9);
  border-bottom-color: rgba(63, 169, 245, 0.9);
  min-height: 72px; }
  @media (min-width: 768px) {
    .navbar-default .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }
  .navbar-default .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
    font-size: 16px; }
    .navbar-default .navbar-nav > li > a.current, .navbar-default .navbar-nav > li > a:hover {
      color: #fe2b75;
      background-color: transparent; }
  .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus {
    border: 0;
    border-radius: 0;
    color: white;
    background-color: transparent; }
    .navbar-default .navbar-toggle .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
      background-color: white; }
  .navbar-default .navbar-collapse {
    border-color: rgba(63, 169, 245, 0.9) !important; }
  .navbar-default .open > a {
    color: #fe2b75 !important;
    background-color: transparent !important; }
  .navbar-default .dropdown-menu {
    margin-top: 10px !important;
    background-color: #3fa9f5;
    border-color: rgba(63, 169, 245, 0.9) !important;
    border-radius: 0; }
    .navbar-default .dropdown-menu > li > a {
      color: white; }
      .navbar-default .dropdown-menu > li > a:hover {
        color: #fe2b75 !important;
        background-color: transparent; }

.navbar-brand {
  padding: 0px;
  /* firefox bug fix */ }
  .navbar-brand img {
    height: 100%;
    padding: 10px;
    /* firefox bug fix */
    width: auto; }

.opening-header {
  color: white;
  background: url("/Content/Images/Header Background Gradient.png");
  background-position: center;
  padding-top: 20px;
  padding-bottom: 20px; }
  .opening-header img {
    width: 12%;
    margin-top: 60px; }
  .opening-header h1 {
    font-size: 70px;
    font-weight: 800;
    margin-top: 10px;
    letter-spacing: 6px; }
  .opening-header h2 {
    font-size: 34.8px;
    font-weight: 400;
    margin-top: -20px;
    letter-spacing: 10.44px;
    text-transform: uppercase; }
  .opening-header .timestamp {
    box-sizing: border-box;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255, 255, 255, 0.36);
    border-bottom-color: rgba(255, 255, 255, 0.36);
    width: 28%;
    margin-top: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
    font-family: "Merriweather","Times New Roman",serif;
    letter-spacing: 0.16px; }
  .opening-header .button-row {
    height: 110px;
    margin-top: 10px; }
    .opening-header .button-row > a {
      color: white;
      background-color: #fe2b75;
      transition: background-color 250ms linear;
      width: 15%;
      height: 46%;
      margin: 10px;
      border: 0;
      border-radius: 0;
      font-family: "Merriweather", "Times New Roman", serif;
      font-size: 20.8px;
      font-style: italic;
      margin-top: 20px; }
      .opening-header .button-row > a:hover {
        background: #3fa9f5;
        transition: background-color 250ms linear; }

.section-container {
  font-family: "Merriweather","Times New Roman",serif;
  color: #464646;
  padding-top: 40px;
  padding-bottom: 40px; }
  .section-container h1 {
    font-size: 72px;
    font-style: italic;
    font-weight: 400;
    text-transform: lowercase; }
  .section-container p {
    font-size: 16px; }

.dark-container {
  background-image: linear-gradient(-495deg, rgba(41, 227, 227, 0.8), rgba(91, 18, 157, 0.8));
  background-size: contain;
  color: white; }

