html, body {
  background-color: white;
  font-family: "Arial", sans-serif; }

.is-primary {
  color: white !important;
  background-color: #3fa9f5 !important; }
  .is-primary .is-inverted {
    color: #3fa9f5 !important;
    background-color: white !important; }

