html, body {
  background-color: white;
  font-family: "Arial", sans-serif; }

.is-primary {
  color: white !important;
  background-color: #3fa9f5 !important; }
  .is-primary.hero-navbar {
    background: url("/Content/Images/Header Background Gradient.jpg"); }
  .is-primary.is-inverted {
    color: #3fa9f5 !important;
    background-color: white !important; }

@media screen and (max-width: 768px) {
  .nav-logo {
    margin-left: 10px; }
  #nav-menu {
    background: url("/Content/Images/Header Background Gradient.jpg"); } }

