html, body {
  overflow-x: hidden;
  overflow-y: auto; }

.hero-navbar {
  display: none !important; }

section.landing {
  background: url("/Content/Images/Header Background Gradient.jpg") no-repeat center center fixed !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed; }
  section.landing .opomun-logo img {
    width: 100%;
    height: auto;
    max-width: 220px; }
  section.landing .opomun-title {
    margin-top: 10px; }
    section.landing .opomun-title img {
      width: 100%;
      height: auto;
      max-width: 350px; }
  section.landing h2 {
    color: white !important;
    font-size: 35px;
    text-transform: uppercase;
    font-family: "Arimo", Arial, sans-serif; }
  section.landing .opomun-date {
    padding-left: 50px;
    padding-right: 50px; }
    section.landing .opomun-date p {
      font-family: "Merriweather", "Times New Roman", serif;
      font-style: italic;
      margin-top: 14px;
      margin-bottom: 14px; }
    section.landing .opomun-date hr {
      margin: 0;
      border-color: rgba(255, 255, 255, 0.36);
      border-top-width: 2px;
      max-width: 100%;
      margin: 0 auto; }
  section.landing .button-row p {
    font-family: "Merriweather", "Times New Roman", serif;
    transition: background-color 250ms linear;
    background-color: #fe2b75;
    border-radius: 0px;
    font-size: 20.8px;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px; }
    section.landing .button-row p:hover {
      background: #3fa9f5;
      transition: background-color 250ms linear; }
  @media screen and (max-width: 768px) {
    section.landing .hero-body {
      padding-left: 0;
      padding-right: 0; }
    section.landing .container {
      max-width: calc(100vw - 40px);
      margin-left: 20px;
      margin-right: 20px; }
    section.landing h2 {
      font-size: 1em; }
    section.landing .opomun-date p {
      font-size: 1.4em; }
    section.landing .opomun-date hr {
      max-width: 300px;
      margin: 0 auto; } }

