html {
	height: 100%;
}

body {
	font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	letter-spacing: 0.01em;
	font-size: 16px;
}

.body-vector {
	color: #464646;
	margin: 0;
	letter-spacing: .01em;
	background: #fff;
	position: relative;
	width: 100% !important;

	padding-top: 70px;

	&:after {
		content: "";
		background-image: url("/Content/Images/Background Vector.svg");
		opacity: 0.06;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;
	}
}

h1 {
	font-family: 'Gotham Black', 'Gotham-Black', 'Gotham', Arial, sans-serif;
}

.navbar-nav {
		display: flex;
		align-items: center;
		justify-content: center;

		float: none;
	}

.navbar-opomun {
	background-color: rgba($Color-Primary, 0.9);
	border-bottom-color: rgba($Color-Primary, 0.9);

	min-height: 72px;

	.container {
		@media(min-width: 768px) {
			position: absolute;
			top: 50%; left: 50%;
			transform: translate(-50%,-50%);
		}
	}

	.navbar-nav > li > a {
		color: white;
		text-transform: uppercase;
		font-size: 16px;

		&:hover {
			color: $Color-Secondary;
			background-color: transparent;
		}
	}

	.navbar-toggle, .navbar-toggle:focus {
		border: 0;
		border-radius: 0;

		color: white;
		background-color: transparent;

		.icon-bar {
			background-color: white;
		}
	}

	.navbar-collapse {
		border-color: rgba($Color-Primary, 0.9) !important;
	}

	.open > a {
		color: $Color-Secondary !important;
		background-color: transparent !important;
	}

	.dropdown-menu {
		margin-top: 10px !important;
		background-color: $Color-Primary;
		border-color: rgba($Color-Primary, 0.9) !important;
		border-radius: 0;
		
		& > li > a {
			color: white;

			&:hover {
				color: $Color-Secondary !important;
				background-color: transparent;
			}
		}
	}
}

.section-container {
	font-family: "Merriweather","Times New Roman",serif;
	color: rgb(70, 70, 70);

	padding-top: 40px;
	padding-bottom: 40px;

	h1 {
		font-size: 72px;
		font-style: italic;
		font-weight: 400;

		text-transform: lowercase;
	}

	p {
		font-size: 16px;
	}
}

.dark-container {
	background-image: linear-gradient(-495deg, rgba(41, 227, 227, 0.8), rgba(91, 18, 157, 0.8));
	background-size: contain;
	color: white;
}