body, html { 
	overflow-x: hidden; 
	overflow-y: auto;
}

.is-primary {
	background-color: $Color-Primary;

	.is-inverted {
		color: $Color-Primary !important;
	}
}

.navigation-holder {
	background: url("/Content/Images/Header Background Gradient.jpg") center fixed;
}