// Variables
@import "Variables";

// Code

html, body {
	background-color: white;
	font-family: "Arial", sans-serif;

	h3 {
		color: black;
		font-size: 28px;
		font-weight: bold;
	}

	h4 {
		color: black;
		font-size: 17px;
		font-weight: bold;
	}

	p {
		font-size: 17px;
	}

	.is-opomun-text, a {
		color: $Color-Primary !important;
	}
}

.is-map {
	height: 400px;
}

.is-uppercase {
	text-transform: uppercase;
}

.has-shadow {
	box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1);
	position: relative;
}

.contacts {
	h3 {
		margin-bottom: 30px;
	}

	h4 {
		margin-bottom: 0 !important;
	}

	p {
		color: black;
	}

	.contact-section {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 768px) {
	.nav-logo {
		margin-left: 10px;
	}

	#nav-menu {
		background: url("/Content/Images/Header_Background_Gradient.jpg") no-repeat center center fixed !important;
		background-size: cover !important;
		background-position: center !important;
		background-attachment: fixed;
	}
}

.is-primary {
	color: white !important;
	background-color: $Color-Primary !important;

	h1, .title, .subtitle {
		color: rgba(white, 1);
	}

	&.hero-navbar, &.is-opomun {
		background: url("/Content/Images/Header_Background_Gradient.jpg") no-repeat center center fixed !important;
		background-size: cover !important;
		background-position: center !important;
		background-attachment: fixed;

		a {
			color: white !important;
		}

		figure {
			border: 1px solid rgba(white, 0.87);
		}
	}

	&.is-inverted {
		color: $Color-Primary !important;
		background-color: white !important;
	}
}

.schedule {

	& > .block {
		border-top: 4px solid black;
		border-bottom: 4px solid black;
		padding-top: 20px;
		padding-bottom: 20px;

		h3 {
			font-size: 20px;
			margin-left: 10px;
			margin-right: 10px;
		}

		p {
			font-size: 16px;
			margin-left: 10px;
			margin-right: 10px;
			font-style: italic;
		}
	}

	&:nth-child(2n - 1) {
		background-color: $Color-Secondary;

		h3, p {
			color: white !important;
		}
	}

	&:nth-child(2n) {

	}
}

.profile-image {
	width: 300px !important;
	height: 300px !important;
	overflow: hidden;
	padding: 20px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}