// Variables
@import "Variables";

// Code

html, body {
	background-color: white;
	font-family: "Arial", sans-serif;

	h3 {
		color: black;
		font-size: 28px;
		font-weight: bold;
	}

	h4 {
		color: black;
		font-size: 17px;
		font-weight: bold;
	}

	p {
		font-size: 17px;
	}
}

.is-map {
	height: 400px;
}

.is-uppercase {
	text-transform: uppercase;
}

.has-shadow {
	box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1);
	position: relative;
}

.contacts {
	h3 {
		margin-bottom: 30px;
	}

	h4 {
		margin-bottom: 0 !important;
	}

	p {
		color: black;
	}

	.contact-section {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 768px) {
	.nav-logo {
		margin-left: 10px;
	}

	#nav-menu {
		background: url("/Content/Images/Header_Background_Gradient.jpg") no-repeat center center fixed !important;
		background-size: cover !important;
		background-position: center !important;
		background-attachment: fixed;
	}
}

.is-primary {
	color: white !important;
	background-color: $Color-Primary !important;

	h1, .title, .subtitle {
		color: rgba(white, 1);
	}

	&.hero-navbar, &.is-opomun {
		background: url("/Content/Images/Header_Background_Gradient.jpg") no-repeat center center fixed !important;
		background-size: cover !important;
		background-position: center !important;
		background-attachment: fixed;

		figure {
			border: 1px solid rgba(white, 0.87);
		}
	}

	&.is-inverted {
		color: $Color-Primary !important;
		background-color: white !important;
	}
}

.is-opomun-text, a {
	color: $Color-Primary !important;
}