// Variables
@import "Variables";

// Code

html, body {
	background-color: white;
	font-family: "Arial", sans-serif;
}

.is-primary {
	color: white !important;
	background-color: $Color-Primary !important;

	.subtitle {
		color: rgba(255, 225, 255, 0.7)
	}

	&.hero-navbar, &.is-opomun {
		background: url("/Content/Images/Header Background Gradient.jpg");
		background-attachment: fixed;

		figure {
			border: 1px solid rgba(255, 255, 255, 0.87);
		}
	}

	&.is-inverted {
		color: $Color-Primary !important;
		background-color: white !important;
	}
}

@media screen and (max-width: 768px) {
	.nav-logo {
		margin-left: 10px;
	}

	#nav-menu {
		background: url("/Content/Images/Header Background Gradient.jpg");
		background-attachment: fixed;
	}
}