// Variables
@import "Variables";

// Code

html, body {
	overflow-x: hidden;
	overflow-y: auto;
}

.hero-navbar {
	display: none !important;
}

section.landing {
	background: url("/Content/Images/Header_Background_Gradient.jpg") no-repeat center center fixed !important;
	background-size: cover !important;
	background-position: center !important;
	background-attachment: fixed;

	.opomun-logo {
		img {
			width: 100%;
			height: auto;
			max-width: 220px;
		}
	}

	.opomun-title {
		margin-top: 10px;

		img {
			width: 100%;
			height: auto;
			max-width: 350px;
		}
	}

	h2 {
		color: rgba(white, 1) !important;
		font-size: 35px;
		text-transform: uppercase;
		font-family: "Arimo", Arial, sans-serif;
	}

	.opomun-date {
		padding-left: 50px;
		padding-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;

		p {
			font-family: "Merriweather", "Times New Roman", serif;
			font-style: italic;
			margin-top: 25px;
			margin-bottom: 25px;
			font-size: 32px;
		}

		hr {
			margin: 0;
			border-color: rgba(white, 0.36);
			border-top-width: 2px;
			max-width: 100%;
			margin: 0 auto;
		}
	}

	.button-row {
		p {
			font-family: "Merriweather", "Times New Roman", serif;
			transition: background-color 250ms linear;
			background-color: $Color-Secondary;
			border-radius: 0px;
			font-size: 20.8px;
			font-style: italic;
			padding-top: 10px;
			padding-bottom: 10px;

			&:hover {
				background: $Color-Primary;
				transition: background-color 250ms linear;
			}
		}
	}

	@media screen and (max-width: 768px) {
		.hero-body {
			padding-left: 0;
			padding-right: 0;
		}

		.container {
			max-width: calc(100vw - 40px);
			margin-left: 20px;
			margin-right: 20px;
		}

		h2 {
			font-size: 14px;
			font-size: 5.25vw;
		}

		.opomun-date {
			p {
				font-size: 1.4em;
			}

			hr {
				max-width: 300px;
				margin: 0 auto;
			}
		}
	}
}
