// Variables
@import "Variables";

// Code

html, body {
	overflow-x: hidden;
	overflow-y: auto;
}

.hero-navbar {
	display: none !important;
}

section.landing {
	background: url("/Content/Images/Header Background Gradient.jpg") no-repeat center center fixed !important;
	background-size: cover !important;
	background-position: center !important;
	background-attachment: fixed;

	.opomun-logo {
		img {
			width: 100%;
			height: auto;
			max-width: 220px;
		}
	}

	.opomun-title {
		img {
			width: 100%;
			height: auto;
			max-width: 350px;
		}
	}

	h2 {
		color: rgba(255, 255, 255, 1) !important;
		font-size: 35px;
		text-transform: uppercase;
		font-family: "Arimo", Arial, sans-serif;
	}

	.opomun-date {
		padding-left: 50px;
		padding-right: 50px;

		p {
			font-family: "Merriweather", "Times New Roman", serif;
			font-style: italic;
			font-size: 30px;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		hr {
			margin: 0;
			border-color: rgba(255, 255, 255, 0.36);
			border-top-width: 2px;
		}
	}

	@media screen and (max-width: 768px) {
		.hero-body {
			padding-left: 0;
			padding-right: 0;
		}

		.container {
			max-width: calc(100vw - 40px);
			margin-left: 20px;
			margin-right: 20px;
		}

		h2 {
			font-size: 1em;
		}
	}
}
